# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Environment
.env
.env.*
.env*production*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Turborepo
.turbo

# Expo / React Native
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# Testing
coverage
.nyc_output

# Misc
*.pem
